{% extends 'base.html' %}

{% block title %}
Главная страница
{% endblock %}

{% block body %}
<h1>Главная страница</h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Deserunt eaque nihil similique veritatis.</li>
<li>At doloribus ea reiciendis reprehenderit?</li>
<li>Ab ea et officiis ratione!</li>
<li>Accusamus, eos, neque! Molestiae, nemo?</li>
<li>Consectetur eius fugiat molestias nemo.</li>
<li>Assumenda atque ex rerum soluta!</li>
<li>Aut libero ratione similique temporibus?</li>
<li>Accusantium dicta magnam odit quod.</li>
<li>Expedita porro reprehenderit sint vero.</li>
<li>Blanditiis cum delectus ex sequi!</li>
<li>Libero neque quaerat quo vel.</li>
<li>Ad alias quia sequi unde.</li>
<li>Doloremque quam sapiente totam vero.</li>
<li>Blanditiis cumque doloremque eum nesciunt.</li>
<li>Error esse facere molestiae recusandae?</li>
<li>Aliquid at earum rem totam.</li>
<li>Ducimus quas sapiente sint tempora.</li>
<li>Accusantium autem beatae mollitia rerum!</li>
<li>Aspernatur consequuntur cum deserunt magnam?</li>
<li>Ab deleniti soluta veniam veritatis.</li>
<li>At dicta facere ipsam minus?</li>
<li>Aliquam delectus inventore qui quis?</li>
<li>Consectetur et numquam similique vel!</li>
<li>Aspernatur commodi debitis deleniti et.</li>
<li>Id maxime nihil quasi voluptatem?</li>
<li>Architecto aspernatur doloribus praesentium quasi?</li>
<li>Consequuntur doloremque eius illo veniam.</li>
<li>Ea libero optio reiciendis sint!</li>
<li>Dignissimos fugiat illo magni obcaecati?</li>
<li>Aliquid deleniti exercitationem explicabo provident!</li>
<li>Debitis eveniet expedita maxime minima!</li>
<li>Laudantium magni molestias quas unde?</li>
<li>Accusantium deserunt fuga saepe velit?</li>
<li>Dolor natus quibusdam quos velit.</li>
<li>Accusantium amet autem praesentium sapiente.</li>
<li>Debitis natus omnis sed tenetur!</li>
<li>Autem expedita, laudantium! Blanditiis, nihil.</li>
<li>A illo ullam vero voluptates?</li>
<li>Illum ipsam officiis porro possimus.</li>
<li>Autem eveniet in possimus? Molestias!</li>
<li>Adipisci dolorum perspiciatis quasi sit.</li>
<li>Minus mollitia quidem ut voluptatem.</li>
<li>Fugit ipsam minus sint tempora?</li>
<li>Delectus ea eveniet sunt tempore?</li>
<li>At commodi delectus exercitationem fugit.</li>
<li>Adipisci nulla perferendis sequi voluptate.</li>
<li>Cum earum sunt veritatis voluptate!</li>
<li>Minima praesentium sapiente sint ut.</li>
<li>Adipisci cum debitis nisi nulla.</li>
<li>Dolore quis reprehenderit suscipit ut.</li>
<li>Error iusto non reprehenderit voluptatibus.</li>
<li>Accusantium consequatur, corporis! Aliquid, fuga?</li>
<li>Ad saepe similique sunt voluptatibus.</li>
<li>Animi modi placeat temporibus? Totam!</li>
<li>Dolorum facere ipsa rem. Ab?</li>
<li>Aspernatur facilis molestiae nesciunt perspiciatis!</li>
<li>Ducimus neque nihil tempora vero.</li>
<li>Commodi doloremque inventore nostrum voluptas?</li>
<li>Blanditiis deleniti inventore nostrum sed.</li>
<li>Autem facilis harum impedit quas.</li>
<li>Pariatur quas similique ut veritatis?</li>
<li>Error impedit maxime perspiciatis. Suscipit.</li>
<li>Accusantium autem doloremque nisi possimus.</li>
<li>Dolores magnam quo ratione suscipit.</li>
<li>Aut enim est ex reiciendis?</li>
<li>Assumenda eveniet illum minus sit.</li>
<li>Dolorum ea ipsum non quibusdam!</li>
<li>Accusantium atque perferendis repudiandae rerum!</li>
<li>Dolorem laboriosam nesciunt pariatur recusandae!</li>
{% endblock %}